conf.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Router" type="Router"/>

<xs:complexType name="Router">
	<xs:sequence>
		<xs:element name="Log" type="Log" minOccurs="1" maxOccurs="1"/>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="SerialAgent" type="SerialAgent"/>
			<xs:element name="TcpAgent" type="TcpAgent"/>
			<xs:element name="UdpAgent" type="UdpAgent"/>
			<xs:element name="ConsoleAgent" type="ConsoleAgent"/>
			<xs:element name="TrackAgent" type="TrackAgent"/>
			<xs:element name="SensorAgent" type="SensorAgent"/>
			<xs:element name="SimulatorAgent" type="SimulatorAgent"/>
			<xs:element name="MeteoAgent" type="MeteoAgent"/>
			<xs:element name="MWDAgent" type="MWDAgent"/>
		</xs:choice>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="AgentBase">
	<xs:sequence>
		<xs:element name="qos" type="xs:string" minOccurs="0" maxOccurs="1"/>
		<xs:element name="filter" type="FilterSet" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
	<xs:attribute name="name" type="xs:string" use="required"/>
	<xs:attribute name="active" type="xs:boolean" default="false"/>
</xs:complexType>

<xs:complexType name="FilterSet">
	<xs:sequence>
		<xs:element name="Filter" type="Filter" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
	<xs:attribute name="whitelist" type="xs:boolean" default="false"/>
</xs:complexType>

<xs:complexType name="Filter">
	<xs:attribute name="source" type="xs:string" default="*"/>
	<xs:attribute name="sentence" type="xs:string" default="*"/>
	<xs:attribute name="talker" type="xs:string" default="*"/>
</xs:complexType>

<xs:complexType name="SerialAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
			<xs:attribute name="type" type="xs:string" fixed="Serial"/>
			<xs:attribute name="device" type="xs:string" use="required"/>
			<xs:attribute name="bps" type="xs:int" default="4800"/>
			<xs:attribute name="inout" type="InOut" use="required"/>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="TcpAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
			<xs:attribute name="type" type="xs:string" fixed="TCP"/>
			<xs:attribute name="host" type="xs:string" default="localhost"/>
			<xs:attribute name="port" type="xs:int" default="4800"/>
			<xs:attribute name="inout" type="InOut" use="required"/>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="UdpAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
			<xs:sequence>
				<xs:element name="to" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>		
			<xs:attribute name="type" type="xs:string" fixed="UDP"/>
			<xs:attribute name="port" type="xs:int" default="4800"/>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="ConsoleAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
			<xs:attribute name="type" type="xs:string" fixed="Console"/>
	    </xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="SensorAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
			<xs:attribute name="type" type="xs:string" fixed="Sensor"/>
	    </xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="SimulatorAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
			<xs:attribute name="type" type="xs:string" fixed="Simulator"/>
	    </xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="MeteoAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
	    	<xs:attribute name="type" type="xs:string" fixed="Meteo"/>
	    </xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="MWDAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
	    	<xs:attribute name="type" type="xs:string" fixed="MWDSynthetizer"/>
	    </xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="TrackAgent">
	<xs:complexContent>
	    <xs:extension base="AgentBase">
			<xs:attribute name="type" type="xs:string" fixed="Track"/>
			<xs:attribute name="file" type="xs:string" default=""/>
			<xs:attribute name="sentence" type="xs:string" default="RMC"/>
			<xs:attribute name="interval" type="xs:int" default="30"/>
			<xs:attribute name="intervalStatic" type="xs:int" default="1800"/>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="Log">
	<xs:sequence>
		<xs:element name="file" type="xs:string" default="router.log" minOccurs="1" maxOccurs="1"/>
	</xs:sequence>
	<xs:attribute name="level" type="LogLevelType" default="INFO"/>
</xs:complexType>

<xs:simpleType name="InOut">
	<xs:restriction base="xs:string">
		<xs:enumeration value="IN" />
		<xs:enumeration value="OUT" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="LogLevelType">
	<xs:restriction base="xs:string">
		<xs:enumeration value="DEBUG" />
		<xs:enumeration value="INFO" />
		<xs:enumeration value="WARNING" />
		<xs:enumeration value="ERROR" />
		<xs:enumeration value="NONE" />
	</xs:restriction>
</xs:simpleType>

</xs:schema>